In [46]:
import pandas as pd

In [47]:
import mysql.connector

In [48]:
conn = mysql.connector.connect(user='root',password='Admin@123',host='127.0.0.1',database='sakila')

In [49]:
cursor = conn.cursor()

In [ ]:
cursor.ex

In [8]:
select_query = '''select * from actor'''

In [10]:
cursor.execute(select_query)
df = cursor.fetchall()
df

[(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (2, 'NICK', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (3, 'ED', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (6, 'BETTE', 'NICHOLSON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (7, 'GRACE', 'MOSTEL', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (8, 'MATTHEW', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (9, 'JOE', 'SWANK', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (10, 'CHRISTIAN', 'GABLE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (11, 'ZERO', 'CAGE', datetime.datetime(2024, 5, 31, 0, 0)),
 (12, 'KARL', 'BERRY', datetime.datetime(2024, 5, 31, 0, 0)),
 (13, 'UMA', 'WOOD', datetime.datetime(2024, 5, 31, 0, 0)),
 (14, 'VIVIEN', 'BERGEN', datetime.datetime(2024, 5, 31, 0, 0)),
 (15, 'CUBA', 'OLIVIER', datetime.datetime(2024, 5, 31, 0, 0)),
 (16, 'FRED', 'COSTNER', datetime.datetime(2024, 5, 31, 0, 0)),
 (17, 'HELEN', 'VOIGHT', datetime.datetime(2024, 5, 31, 0, 0)),
 (18, 'DAN', 'TORN', datetime.datetime(2024, 5, 31, 0, 0)),
 (19, 'BOB', 'FAWCETT', datetime.datetime(2024, 5, 31, 0, 0)),
 (20, 'LUCILLE', 'TRACY', datetime.datetime(2024, 5, 31, 0, 0)),
 (21, 'KIRSTEN', 'PALTROW', datetime.datetime(2024, 5, 31, 0, 0)),
 (22, 'ELVIS', 'MARX', datetime.datetime(2024, 5, 31, 0, 0)),
 (23, 'SANDRA', 'KILMER', datetime.datetime(2024, 5, 31, 0, 0)),
 (24, 'CAMERON', 'STREEP', datetime.datetime(2024, 5, 31, 0, 0)),
 (25, 'KEVIN', 'BLOOM', datetime.datetime(2024, 5, 31, 0, 0)),
 (26, 'RIP', 'CRAWFORD', datetime.datetime(2024, 5, 31, 0, 0)),
 (27, 'JULIA', 'MCQUEEN', datetime.datetime(2024, 5, 31, 0, 0)),
 (28, 'WOODY', 'HOFFMAN', datetime.datetime(2024, 5, 31, 0, 0)),
 (29, 'ALEC', 'WAYNE', datetime.datetime(2024, 5, 31, 0, 0)),
 (30, 'SANDRA', 'PECK', datetime.datetime(2024, 5, 31, 0, 0)),
 (31, 'SISSY', 'SOBIESKI', datetime.datetime(2024, 5, 31, 0, 0)),
 (32, 'TIM', 'HACKMAN', datetime.datetime(2024, 5, 31, 0, 0)),
 (33, 'MILLA', 'PECK', datetime.datetime(2024, 5, 31, 0, 0)),
 (34, 'AUDREY', 'OLIVIER', datetime.datetime(2024, 5, 31, 0, 0)),
 (35, 'JUDY', 'DEAN', datetime.datetime(2024, 5, 31, 0, 0)),
 (36, 'BURT', 'DUKAKIS', datetime.datetime(2024, 5, 31, 0, 0)),
 (37, 'VAL', 'BOLGER', datetime.datetime(2024, 5, 31, 0, 0)),
 (38, 'TOM', 'MCKELLEN', datetime.datetime(2024, 5, 31, 0, 0)),
 (39, 'GOLDIE', 'BRODY', datetime.datetime(2024, 5, 31, 0, 0)),
 (40, 'JOHNNY', 'CAGE', datetime.datetime(2024, 5, 31, 0, 0)),
 (41, 'JODIE', 'DEGENERES', datetime.datetime(2024, 5, 31, 0, 0)),
 (42, 'TOM', 'MIRANDA', datetime.datetime(2024, 5, 31, 0, 0)),
 (43, 'KIRK', 'JOVOVICH', datetime.datetime(2024, 5, 31, 0, 0)),
 (44, 'NICK', 'STALLONE', datetime.datetime(2024, 5, 31, 0, 0)),
 (45, 'REESE', 'KILMER', datetime.datetime(2024, 5, 31, 0, 0)),
 (46, 'PARKER', 'GOLDBERG', datetime.datetime(2024, 5, 31, 0, 0)),
 (47, 'JULIA', 'BARRYMORE', datetime.datetime(2024, 5, 31, 0, 0)),
 (48, 'FRANCES', 'DAY-LEWIS', datetime.datetime(2024, 5, 31, 0, 0)),
 (49, 'ANNE', 'CRONYN', datetime.datetime(2024, 5, 31, 0, 0)),
 (50, 'NATALIE', 'HOPKINS', datetime.datetime(2024, 5, 31, 0, 0)),
 (51, 'GARY', 'PHOENIX', datetime.datetime(2024, 5, 31, 0, 0)),
 (52, 'CARMEN', 'HUNT', datetime.datetime(2024, 5, 31, 0, 0)),
 (53, 'MENA', 'TEMPLE', datetime.datetime(2024, 5, 31, 0, 0)),
 (54, 'PENELOPE', 'PINKETT', datetime.datetime(2024, 5, 31, 0, 0)),
 (55, 'FAY', 'KILMER', datetime.datetime(2024, 5, 31, 0, 0)),
 (56, 'DAN', 'HARRIS', datetime.datetime(2024, 5, 31, 0, 0)),
 (57, 'JUDE', 'CRUISE', datetime.datetime(2024, 5, 31, 0, 0)),
 (58, 'CHRISTIAN', 'AKROYD', datetime.datetime(2024, 5, 31, 0, 0)),
 (59, 'DUSTIN', 'TAUTOU', datetime.datetime(2024, 5, 31, 0, 0)),
 (60, 'HENRY', 'BERRY', datetime.datetime(2024, 5, 31, 0, 0)),
 (61, 'CHRISTIAN', 'NEESON', datetime.datetime(2024, 5, 31, 0, 0)),
 (62, 'JAYNE', 'NEESON', datetime.datetime(2024, 5, 31, 0, 0)),
 (63, 'CAMERON', 'WRAY', datetime.datetime(2024, 5, 31, 0, 0)),
 (64, 'RAY', 'JOHANSSON', datetime.datetime(2024, 5, 31, 0, 0)),
 (65, 'ANGELA', 'HUDSON', datetime.datetime(2024, 5, 31, 0, 0)),
 (66, 'MARY', 'TANDY', datetime.datetime(2024, 5, 31, 0, 0)),
 (67, 'JESSICA', 'BAILEY', datetime.datetime(2024, 5, 31, 0, 0)),
 (68, 'RIP', 'WINSLET', datetime.datetime(2024, 5, 31, 0, 0)),
 (69, 'KENNETH', 'PALTROW', datetime.datetime(2024, 5, 31, 0, 0)),
 (70, 'MICHELLE', 'MCCONAUGHEY', datetime.datetime(2024, 5, 31, 0, 0)),
 (71, 'ADAM', 'GRANT', datetime.datetime(2024, 5, 31, 0, 0)),
 (72, 'SEAN', 'WILLIAMS', datetime.datetime(2024, 5, 31, 0, 0)),
 (73, 'GARY', 'PENN', datetime.datetime(2024, 5, 31, 0, 0)),
 (74, 'MILLA', 'KEITEL', datetime.datetime(2024, 5, 31, 0, 0)),
 (75, 'BURT', 'POSEY', datetime.datetime(2024, 5, 31, 0, 0)),
 (76, 'ANGELINA', 'ASTAIRE', datetime.datetime(2024, 5, 31, 0, 0)),
 (77, 'CARY', 'MCCONAUGHEY', datetime.datetime(2024, 5, 31, 0, 0)),
 (78, 'GROUCHO', 'SINATRA', datetime.datetime(2024, 5, 31, 0, 0)),
 (79, 'MAE', 'HOFFMAN', datetime.datetime(2024, 5, 31, 0, 0)),
 (80, 'RALPH', 'CRUZ', datetime.datetime(2024, 5, 31, 0, 0)),
 (81, 'SCARLETT', 'DAMON', datetime.datetime(2024, 5, 31, 0, 0)),
 (82, 'WOODY', 'JOLIE', datetime.datetime(2024, 5, 31, 0, 0)),
 (83, 'BEN', 'WILLIS', datetime.datetime(2024, 5, 31, 0, 0)),
 (84, 'JAMES', 'PITT', datetime.datetime(2024, 5, 31, 0, 0)),
 (85, 'MINNIE', 'ZELLWEGER', datetime.datetime(2024, 5, 31, 0, 0)),
 (86, 'GREG', 'CHAPLIN', datetime.datetime(2024, 5, 31, 0, 0)),
 (87, 'SPENCER', 'PECK', datetime.datetime(2024, 5, 31, 0, 0)),
 (88, 'KENNETH', 'PESCI', datetime.datetime(2024, 5, 31, 0, 0)),
 (89, 'CHARLIZE', 'DENCH', datetime.datetime(2024, 5, 31, 0, 0)),
 (90, 'SEAN', 'GUINESS', datetime.datetime(2024, 5, 31, 0, 0)),
 (91, 'CHRISTOPHER', 'BERRY', datetime.datetime(2024, 5, 31, 0, 0)),
 (92, 'KIRSTEN', 'AKROYD', datetime.datetime(2024, 5, 31, 0, 0)),
 (93, 'ELLEN', 'PRESLEY', datetime.datetime(2024, 5, 31, 0, 0)),
 (94, 'KENNETH', 'TORN', datetime.datetime(2024, 5, 31, 0, 0)),
 (95, 'DARYL', 'WAHLBERG', datetime.datetime(2024, 5, 31, 0, 0)),
 (96, 'GENE', 'WILLIS', datetime.datetime(2024, 5, 31, 0, 0)),
 (97, 'MEG', 'HAWKE', datetime.datetime(2024, 5, 31, 0, 0)),
 (98, 'CHRIS', 'BRIDGES', datetime.datetime(2024, 5, 31, 0, 0)),
 (99, 'JIM', 'MOSTEL', datetime.datetime(2024, 5, 31, 0, 0)),
 (100, 'SPENCER', 'DEPP', datetime.datetime(2024, 5, 31, 0, 0)),
 (101, 'SUSAN', 'DAVIS', datetime.datetime(2024, 5, 31, 0, 0)),
 (102, 'WALTER', 'TORN', datetime.datetime(2024, 5, 31, 0, 0)),
 (103, 'MATTHEW', 'LEIGH', datetime.datetime(2024, 5, 31, 0, 0)),
 (104, 'PENELOPE', 'CRONYN', datetime.datetime(2024, 5, 31, 0, 0)),
 (105, 'SIDNEY', 'CROWE', datetime.datetime(2024, 5, 31, 0, 0)),
 (106, 'GROUCHO', 'DUNST', datetime.datetime(2024, 5, 31, 0, 0)),
 (107, 'GINA', 'DEGENERES', datetime.datetime(2024, 5, 31, 0, 0)),
 (108, 'WARREN', 'NOLTE', datetime.datetime(2024, 5, 31, 0, 0)),
 (109, 'SYLVESTER', 'DERN', datetime.datetime(2024, 5, 31, 0, 0)),
 (110, 'SUSAN', 'DAVIS', datetime.datetime(2024, 5, 31, 0, 0)),
 (111, 'CAMERON', 'ZELLWEGER', datetime.datetime(2024, 5, 31, 0, 0)),
 (112, 'RUSSELL', 'BACALL', datetime.datetime(2024, 5, 31, 0, 0)),
 (113, 'MORGAN', 'HOPKINS', datetime.datetime(2024, 5, 31, 0, 0)),
 (114, 'MORGAN', 'MCDORMAND', datetime.datetime(2024, 5, 31, 0, 0)),
 (115, 'HARRISON', 'BALE', datetime.datetime(2024, 5, 31, 0, 0)),
 (116, 'DAN', 'STREEP', datetime.datetime(2024, 5, 31, 0, 0)),
 (117, 'RENEE', 'TRACY', datetime.datetime(2024, 5, 31, 0, 0)),
 (118, 'CUBA', 'ALLEN', datetime.datetime(2024, 5, 31, 0, 0)),
 (119, 'WARREN', 'JACKMAN', datetime.datetime(2024, 5, 31, 0, 0)),
 (120, 'PENELOPE', 'MONROE', datetime.datetime(2024, 5, 31, 0, 0)),
 (121, 'LIZA', 'BERGMAN', datetime.datetime(2024, 5, 31, 0, 0)),
 (122, 'SALMA', 'NOLTE', datetime.datetime(2024, 5, 31, 0, 0)),
 (123, 'JULIANNE', 'DENCH', datetime.datetime(2024, 5, 31, 0, 0)),
 (124, 'SCARLETT', 'BENING', datetime.datetime(2024, 5, 31, 0, 0)),
 (125, 'ALBERT', 'NOLTE', datetime.datetime(2024, 5, 31, 0, 0)),
 (126, 'FRANCES', 'TOMEI', datetime.datetime(2024, 5, 31, 0, 0)),
 (127, 'KEVIN', 'GARLAND', datetime.datetime(2024, 5, 31, 0, 0)),
 (128, 'CATE', 'MCQUEEN', datetime.datetime(2024, 5, 31, 0, 0)),
 (129, 'DARYL', 'CRAWFORD', datetime.datetime(2024, 5, 31, 0, 0)),
 (130, 'GRETA', 'KEITEL', datetime.datetime(2024, 5, 31, 0, 0)),
 (131, 'JANE', 'JACKMAN', datetime.datetime(2024, 5, 31, 0, 0)),
 (132, 'ADAM', 'HOPPER', datetime.datetime(2024, 5, 31, 0, 0)),
 (133, 'RICHARD', 'PENN', datetime.datetime(2024, 5, 31, 0, 0)),
 (134, 'GENE', 'HOPKINS', datetime.datetime(2024, 5, 31, 0, 0)),
 (135, 'RITA', 'REYNOLDS', datetime.datetime(2024, 5, 31, 0, 0)),
 (136, 'ED', 'MANSFIELD', datetime.datetime(2024, 5, 31, 0, 0)),
 (137, 'MORGAN', 'WILLIAMS', datetime.datetime(2024, 5, 31, 0, 0)),
 (138, 'LUCILLE', 'DEE', datetime.datetime(2024, 5, 31, 0, 0)),
 (139, 'EWAN', 'GOODING', datetime.datetime(2024, 5, 31, 0, 0)),
 (140, 'WHOOPI', 'HURT', datetime.datetime(2024, 5, 31, 0, 0)),
 (141, 'CATE', 'HARRIS', datetime.datetime(2024, 5, 31, 0, 0)),
 (142, 'JADA', 'RYDER', datetime.datetime(2024, 5, 31, 0, 0)),
 (143, 'RIVER', 'DEAN', datetime.datetime(2024, 5, 31, 0, 0)),
 (144, 'ANGELA', 'WITHERSPOON', datetime.datetime(2024, 5, 31, 0, 0)),
 (145, 'KIM', 'ALLEN', datetime.datetime(2024, 5, 31, 0, 0)),
 (146, 'ALBERT', 'JOHANSSON', datetime.datetime(2024, 5, 31, 0, 0)),
 (147, 'FAY', 'WINSLET', datetime.datetime(2024, 5, 31, 0, 0)),
 (148, 'EMILY', 'DEE', datetime.datetime(2024, 5, 31, 0, 0)),
 (149, 'RUSSELL', 'TEMPLE', datetime.datetime(2024, 5, 31, 0, 0)),
 (150, 'JAYNE', 'NOLTE', datetime.datetime(2024, 5, 31, 0, 0)),
 (151, 'GEOFFREY', 'HESTON', datetime.datetime(2024, 5, 31, 0, 0)),
 (152, 'BEN', 'HARRIS', datetime.datetime(2024, 5, 31, 0, 0)),
 (153, 'MINNIE', 'KILMER', datetime.datetime(2024, 5, 31, 0, 0)),
 (154, 'MERYL', 'GIBSON', datetime.datetime(2024, 5, 31, 0, 0)),
 (155, 'IAN', 'TANDY', datetime.datetime(2024, 5, 31, 0, 0)),
 (156, 'FAY', 'WOOD', datetime.datetime(2024, 5, 31, 0, 0)),
 (157, 'GRETA', 'MALDEN', datetime.datetime(2024, 5, 31, 0, 0)),
 (158, 'VIVIEN', 'BASINGER', datetime.datetime(2024, 5, 31, 0, 0)),
 (159, 'LAURA', 'BRODY', datetime.datetime(2024, 5, 31, 0, 0)),
 (160, 'CHRIS', 'DEPP', datetime.datetime(2024, 5, 31, 0, 0)),
 (161, 'HARVEY', 'HOPE', datetime.datetime(2024, 5, 31, 0, 0)),
 (162, 'OPRAH', 'KILMER', datetime.datetime(2024, 5, 31, 0, 0)),
 (163, 'CHRISTOPHER', 'WEST', datetime.datetime(2024, 5, 31, 0, 0)),
 (164, 'HUMPHREY', 'WILLIS', datetime.datetime(2024, 5, 31, 0, 0)),
 (165, 'AL', 'GARLAND', datetime.datetime(2024, 5, 31, 0, 0)),
 (166, 'NICK', 'DEGENERES', datetime.datetime(2024, 5, 31, 0, 0)),
 (167, 'LAURENCE', 'BULLOCK', datetime.datetime(2024, 5, 31, 0, 0)),
 (168, 'WILL', 'WILSON', datetime.datetime(2024, 5, 31, 0, 0)),
 (169, 'KENNETH', 'HOFFMAN', datetime.datetime(2024, 5, 31, 0, 0)),
 (170, 'MENA', 'HOPPER', datetime.datetime(2024, 5, 31, 0, 0)),
 (171, 'OLYMPIA', 'PFEIFFER', datetime.datetime(2024, 5, 31, 0, 0)),
 (172, 'GROUCHO', 'WILLIAMS', datetime.datetime(2024, 5, 31, 0, 0)),
 (173, 'ALAN', 'DREYFUSS', datetime.datetime(2024, 5, 31, 0, 0)),
 (174, 'MICHAEL', 'BENING', datetime.datetime(2024, 5, 31, 0, 0)),
 (175, 'WILLIAM', 'HACKMAN', datetime.datetime(2024, 5, 31, 0, 0)),
 (176, 'JON', 'CHASE', datetime.datetime(2024, 5, 31, 0, 0)),
 (177, 'GENE', 'MCKELLEN', datetime.datetime(2024, 5, 31, 0, 0)),
 (178, 'LISA', 'MONROE', datetime.datetime(2024, 5, 31, 0, 0)),
 (179, 'ED', 'GUINESS', datetime.datetime(2024, 5, 31, 0, 0)),
 (180, 'JEFF', 'SILVERSTONE', datetime.datetime(2024, 5, 31, 0, 0)),
 (181, 'MATTHEW', 'CARREY', datetime.datetime(2024, 5, 31, 0, 0)),
 (182, 'DEBBIE', 'AKROYD', datetime.datetime(2024, 5, 31, 0, 0)),
 (183, 'RUSSELL', 'CLOSE', datetime.datetime(2024, 5, 31, 0, 0)),
 (184, 'HUMPHREY', 'GARLAND', datetime.datetime(2024, 5, 31, 0, 0)),
 (185, 'MICHAEL', 'BOLGER', datetime.datetime(2024, 5, 31, 0, 0)),
 (186, 'JULIA', 'ZELLWEGER', datetime.datetime(2024, 5, 31, 0, 0)),
 (187, 'RENEE', 'BALL', datetime.datetime(2024, 5, 31, 0, 0)),
 (188, 'ROCK', 'DUKAKIS', datetime.datetime(2024, 5, 31, 0, 0)),
 (189, 'CUBA', 'BIRCH', datetime.datetime(2024, 5, 31, 0, 0)),
 (190, 'AUDREY', 'BAILEY', datetime.datetime(2024, 5, 31, 0, 0)),
 (191, 'GREGORY', 'GOODING', datetime.datetime(2024, 5, 31, 0, 0)),
 (192, 'JOHN', 'SUVARI', datetime.datetime(2024, 5, 31, 0, 0)),
 (193, 'BURT', 'TEMPLE', datetime.datetime(2024, 5, 31, 0, 0)),
 (194, 'MERYL', 'ALLEN', datetime.datetime(2024, 5, 31, 0, 0)),
 (195, 'JAYNE', 'SILVERSTONE', datetime.datetime(2024, 5, 31, 0, 0)),
 (196, 'BELA', 'WALKEN', datetime.datetime(2024, 5, 31, 0, 0)),
 (197, 'REESE', 'WEST', datetime.datetime(2024, 5, 31, 0, 0)),
 (198, 'MARY', 'KEITEL', datetime.datetime(2024, 5, 31, 0, 0)),
 (199, 'JULIA', 'FAWCETT', datetime.datetime(2024, 5, 31, 0, 0)),
 (200, 'THORA', 'TEMPLE', datetime.datetime(2024, 5, 31, 0, 0))]

In [24]:
col = []
for i in cursor.description:
    col.append(i[0])

In [30]:
col

['actor_id', 'first_name', 'last_name', 'last_update']

In [42]:
df = pd.DataFrame(df)

In [43]:
coln = {}
for index,colum in enumerate (col):
    coln[index] = colum

coln

{0: 'actor_id', 1: 'first_name', 2: 'last_name', 3: 'last_update'}

In [45]:
df.rename(columns=coln)

     actor_id first_name     last_name         last_update
0           1   PENELOPE       GUINESS 2006-02-15 04:34:33
1           2       NICK      WAHLBERG 2006-02-15 04:34:33
2           3         ED         CHASE 2006-02-15 04:34:33
3           4   JENNIFER         DAVIS 2006-02-15 04:34:33
4           5     JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33
..        ...        ...           ...                 ...
195       196       BELA        WALKEN 2024-05-31 00:00:00
196       197      REESE          WEST 2024-05-31 00:00:00
197       198       MARY        KEITEL 2024-05-31 00:00:00
198       199      JULIA       FAWCETT 2024-05-31 00:00:00
199       200      THORA        TEMPLE 2024-05-31 00:00:00

[200 rows x 4 columns]